
#contacts {
  background: $secondary;
  color: $text;
}

//toggle part
.test {
  background: $secondary;
  height: 10%;
  display: flex;
  padding: 20px;
  transition: 500ms;
  .div-dropdown {
    display: none;
  }
}

.show-dropdownView {
  background: rgba(#1A5E63,.8);
  .div-dropdown {
    display: block;
  }
}
